.header-container {
  height: 10vh;
  width: 88vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .account-menu {
    position: absolute;
    right: 5vw;
    height: 5vh;
    // border: solid black 3px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;

    .account-layout {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .account-link {
        margin: 10px;
        text-decoration: none;

        p {
          color: black;
          font-size: 1.2rem;
        }
      }
      .account-button {
        margin: 10px;
        text-decoration: none;
        border: none;
        background-color: white;
        p {
          color: black;
          font-size: 1.2rem;
        }
      }
      .account-button:hover {
        cursor: pointer;
      }
    }
  }
}
