.label-with-highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .highlight {
    position: relative;
    z-index: -1;
  }

  h1 {
    font-size: 100;
    font-weight: 400;
    color: black;
    position: relative;
    z-index: 1;
  }
}
